#container-segment {
    border: none;
}

#circular-image {
    border-radius: 100%;
    width: 150px;
    display: inline-block;
}

.ui.form.profileForm label{
    font-size: 30px;
    margin: 15px;
}

.ui.form.profileForm input {
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  height: 60px;
  font-family: 'Montserrat';
  font-size: 25px;
}
.ui.form.profileForm input:focus {
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  height: 60px;
  font-family: 'Montserrat';
  font-size: 25px;
}

.ui.submit.black.button.submitButton {
    font-family: 'Raleway';
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100px;
}