body {
  text-align: center;
  /* width: 100vw; */
  /* height: 100vh; */
  /* overflow: hidden; */
  background-image: url(../../images/pinkCloudBackground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* object-fit: cover; */
}

