footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
}

/* .footer.segment {
    padding: 5em 0em;
  } */

  /* .footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #ffffff;
    background-color: #000000;
  } */