/* .ui.container.header {
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%;
}

/* .ui.secondary.inverted.pointing.menu {
    border-width: 2px;
    border-color: #ffffff;
    color: #ffffff;
}

.ui.secondary.inverted.menu .active.item {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #FFFFFF;
    color: #ffffff;
} */

.ui.inverted.button {
    color: #ffffff;
    margin: 0 10px;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
    background-color: #000000;
    background: url(https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2015/06/travel-photography-career-sahara-morocco-camels-hillary-fox.jpg
    ) no-repeat center center fixed; 
    /* background: url(images/hero.png) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui.large.secondary.inverted.pointing.menu {
    border: none;
}

.hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }